.appContainer
  width: 450px
  margin: 0 auto
  background-color: gray
  // padding 8px

.row
  display: flex
  flex-direction: 'row'
  
.searchContainer
  width 100%
  height: 70px
  display flex
  align-items center
  // margin 0 auto
  
  input
    margin 0 8px
    height 24px
    width: 100%
    
.userItem
  margin-left 8px
  color: white
  
  .avatarContainer
    margin-right: 8px

.avatar
  width: 60px
  height: 60px